In [ ]:
#1 What are data structures, and why are they important ?

# Data structure is the way of organising,storing and managing the data efficiently.

# It is important to have different kind of data structure as per the requirement of the business.
# Data structures are like containers which can contains multiple values in a single variable.

# Some of the Data structures are :

# list[]=> are ordered data type and we can access any values inside it using indices, mutable
# tuple()=> are also ordered, and immutable
# sets{}=> unordered data structure and mutable
# Dictonaries{}=> ordered and mutable

In [ ]:
#2 Explain the difference between mutable and immutable data types with examples

# Mutable data types means once created it can be modified and updated again
# Immutable means once variable is created it can not be updated or modified again

# Mutable => List,Sets Dictonaries
# Immutable => Tuples

# Mutable list
l1=[1,2,3]
print("List before updation ", l1)

l1[1]=100
print("Updated list is ",l1)

# Immutable tuple
t1=(1,2,3)
t1[0]=500

List before updation  [1, 2, 3]
Updated list is  [1, 100, 3]

TypeError: 'tuple' object does not support item assignment

In [ ]:
#3 What are the main differences between lists and tuples in Python ?

# list and tuple both can store homogenious data but the difference is

# List is mutable where as tuples are immutable
# list are used where we know that the data might change in coming future like Address
# Tuples are used where data is fixed for life time Like AAdhar card, Unique Id's, Employee Ids etc

# Tuples are memory efficient and way faster then lists

In [ ]:
#4 Describe how dictionaries store data

# Dictonaries stores data in key value pair where keys are unique and immutable
# and values can be duplicated and immutable
# if the duplicated key is entered then the value of existing key will get updated with the new one but only 1 key will be there, no repetation
# Overall dictonaries are mutable we can add or remove items

# Example :

dict1={'city':['Delhi','Mumbai','Goa']}
dict1

{'city': ['Delhi', 'Mumbai', 'Goa']}

In [17]:
#5 Why might you use a set instead of a list in Python

# I will use set instead of list to remove the duplicacy.
# sets are unordered and faster than list in terms of memory accessing

# example: if we are having a grocesory list and all the family members are adding their needed items one by one. There are very high chances that the item name gets repeated,
           # Si ti avoid duplicacy we use sets

grocessory_list={'Mango','Bread','Butter','Peas','curd','Butter','Bread'}
print("Avoiding Duplicacy => ", grocessory_list, '\n')

l1=['Mango','Bread','Butter','Peas','curd','Butter','Bread']
print("Duplicate values are being repeated  => ", l1)

Avoiding Duplicacy =>  {'Mango', 'Bread', 'curd', 'Peas', 'Butter'}

Duplicate values are being repeated  =>  ['Mango', 'Bread', 'Butter', 'Peas', 'curd', 'Butter', 'Bread']

In [13]:
#6 What is a string in Python, and how is it different from a list?

# A string is a collection of characters, list can have multiples type of data items at a time but strings can only have character type data

# Strings are immutable while lists are mutable


l1=['laptop','Mac_book']
l1.append('Computer')
l1


# s1="Hello World"
# s1[1]='pp'   # This will cause error

['laptop', 'Mac_book', 'Computer']

In [19]:
#7 How do tuples ensure data integrity in Python ?

# Data Integrity means the way data is being stored in the initial time it should be same through out the life cycle . It shold not be changed, manipulated at any point of time.

# Tuples => are immutable, which means once created it can not be modified or updated and this immutability helps tuple to retain data integrity

# Example => Tuples are used where the data is fixed, it is not going to be changed once created like AAdhar card, Emp id etc

# tup=(235545687895,)
# tup[0]=1

In [ ]:
#8 What is a hash table, and how does it relate to dictionaries in Python ?

# A hash table is a function which convertes keys into numerical values using hash function and these numerical values later used to store and retrieve data efficiently.
# Dictonary uses hash table to store the data in key value pair

# We can understand this procees like => KEY --> Hash function --> Index
#                                                                 (Keys converted to Numerical value)

In [3]:
#9 Can lists contain different data types in Python ?

# Yes, list is a hetrogenious data type and it can store different types of data in one variable

# Example =>
l1=['Hi',1,11.1,'3x+4j']
l1

['Hi', 1, 11.1, '3x+4j']

In [9]:
#10 Explain why strings are immutable in Python ?

# Strings are immutable because once created it cannot be modified again, dur to its immutable features strings are fast and efficient.
# We can not modify the existing string but in case if any change is needed, we can do it using replace function, which will not modify the string instead it will create the new string
# in different address with the required changes.

st=' Hi My name is Rohit'
st
print(id(st))
ss=st.replace('Rohit','Ravi')
print(id(ss))

134358196922736
134358203516768

In [ ]:
#11 What advantages do dictionaries offer over lists for certain tasks?

# List stores the data in sequential form where as Dictionaries stores the data in Key value pair which is more organised.
# List can have duplicacy is data but in dictionaries key can never be identical where as values can have duplicate values
# In dictioaries we can simply retrive the data with the help of key, where as in list we need to remember the index to fetch some particular data

In [ ]:
#12 Describe a scenario where using a tuple would be preferable over a list ?

# Tuples are used where data is of unchangable nature,where data should not be modified at any point of time  like employee id, aadhar cards etc.
# SInce lists are mutable it can not be used to store the highly secured data.

In [11]:
#13 How do sets handle duplicate values in Python ?

# Sets simply eliminates the duplicated data

s1={1,1,1,2,2,3,3,3,3,4,4,5,5}
s1

{1, 2, 3, 4, 5}

In [29]:
#14 How does the “in” keyword work differently for lists and dictionaries ?

# "in" keyword is used to check membersip in list as well as dictionary but it works differently with both of them.
# in case of list "in" will check whether the value exists or not

# but in case of dictionary "in" will check whether the key exists or not. it will not directky checks for the values.


l1=['A','v','c','d']
print("List       : ",'v' in l1)

dic={'Mummy': 9821272678,
     'Papa': 8287361091}
print("Dictionary : ",9821272678 in dic)


# if we want to access the values in dictionary then we need to mention . values like:

dic={'Mummy': 9821272678,
     'Papa': 8287361091}
print("Dictionary : ",9821272678 in dic.values())

List       :  True
Dictionary :  False
Dictionary :  True

In [3]:
#15 Can you modify the elements of a tuple? Explain why or why not ?

# No, once created tuple's elements can not be modified. Tuples are immutable and secure which means once created its elements cannot be added removed or modified.

# t1=(1,2,3)
# t1.add(5)

In [4]:
#16 What is a nested dictionary, and give an example of its use case ?

# when we define dictionary inside dictionary it is known as nested dictionary.

class_room={'Roll_1':{'name':'Rohit','age':15,'section':'A'},
            'Roll_2':{'name':'Rahul','age':17,'section':'A'},
            'Roll_no':{'name':'Ajay','class':19,'section':'A'}}

class_room

{'Roll_1': {'name': 'Rohit', 'age': 15, 'section': 'A'},
 'Roll_2': {'name': 'Rahul', 'age': 17, 'section': 'A'},
 'Roll_no': {'name': 'Ajay', 'class': 19, 'section': 'A'}}

In [11]:
class_room['Roll_1']

{'name': 'Rohit', 'age': 15, 'section': 'A'}

In [ ]:
#17 Describe the time complexity of accessing elements in a dictionary ?

# Accessing elements in dictionary using key have an average time i.e 0(1), which means constant
# No matter whether there 10 rows or 10 Million rows accessing time will be same for each one of them because in dictionary keys are passed through hash function which converts
# these keys into numerical values(index) using which we can retrive the data faster than any other.

In [12]:
#18 In what situations are lists preferred over dictionaries?

# When our data is simple and we just dont need any structure or label our data
# When we care about the position of the elements like ranks
# Where we can store duplicates too

l1=['Ajay','Ravi','Rohit']
l1

['Ajay', 'Ravi', 'Rohit']

In [ ]:
#19 Why are dictionaries considered unordered, and how does that affect data retrieval ?

# Beofore the version 3.7, dictionary did not guarantee any order because keys of the dictionaries gets converted into hash values first and then it gets stored based on hash values
# not by insertion order
# after 3.7 version items are returned in the same order they were stored.

# This unordered feature actually helps alot in making dictionary fastest because of hash values , we don't need to remember the position of the elements.

In [ ]:
#20 Explain the difference between a list and a dictionary in terms of data retrieval ?

# Lists stores data in sequential order, User must need to remember index to retrive specific element i.e 0(1) average time, If we know the exact index
# But if we don't know the index then average time will be 0(n), because then we need to run the loop and look for the data which will take much time

# Dictionaries are stored using key value pairs, and each key is unique and is created after passing through the hash function.
# No need to remember any index for data retrival, data is extracted using keys.

In [ ]:
#1. Write a code to create a string with your name and print it ?
name='Rohit'
print(name)

Rohit

In [ ]:
#2. Write a code to find the length of the string "Hello World" ?

var="Hello World"
print(len(var))

11

In [ ]:
#3 Write a code to slice the first 3 characters from the string "Python Programming" ?

a="Python Programming"
a[0:3]

'Pyt'

In [ ]:
#4 Write a code to convert the string "hello" to uppercase ?

a='hello'
a.upper()

'HELLO'

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

a="I like apple"
a.replace('apple','orange')

'I like orange'

In [ ]:
#6  Write a code to create a list with numbers 1 to 5 and print it?

print(list(range(1,6)))

[1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4] ?

l1=[1,2,3,4]
l1.append(10)
l1

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

l2=[1,2,3,4,5]
l2.remove(3)
l2

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

l3=['a','b','c','d']
l3[1]

'b'

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50] ?

l1=[10, 20, 30, 40, 50]
l1[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it ?

tup=(100,200,300)
tup

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t1=('red', 'green', 'blue', 'yellow')
t1[-2]

'blue'

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

t2=(10, 20, 5, 15)
min(t2)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t2=('dog', 'cat', 'rabbit')
t2.index('cat')

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

t3=('Mango','Banana','Orange')
print('kiwi' in t3)

False

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s1={'a','b','c'}
print(type(s1),s1 )

<class 'set'> {'b', 'c', 'a'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s2={1, 2, 3, 4, 5}
s2.clear()

In [ ]:
s2

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s2={1, 2, 3, 4}
s2.discard(4)
#s2.remove(4)
s2

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

s3={1, 2, 3}
s4={3, 4, 5}

print(s3.union(s4))
s3 | s4

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s1={1, 2, 3}
s2={2, 3, 4}

s1.intersection(s2)
print(s1 & s2)

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict={'name': 'Rohit',
      'age':26,
      'city':'New Delhi'}

dict

{'name': 'Rohit', 'age': 26, 'city': 'New Delhi'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dic2={'name': 'John', 'age': 25}
#dic2.update({'country':'USA'})
dic2['Country']='USA'
dic2

{'name': 'John', 'age': 25, 'Country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

d1={'name': 'Alice', 'age': 30}
d1['name']

'Alice'

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d2={'name': 'Bob', 'age': 22, 'city': 'New York'}
del d2['age']
d2

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

d3={'name': 'Alice', 'city': 'Paris'}
'city' in d3

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

l1=[1,2,3,'a','b']
tup=(1,2,3,'a','b')
dictn={'name':'Rohit',
       'age':26}

print("list values are : ", l1)
print("Tuple values are : ", tup)
print("Dictonary values are : ", dictn)

list values are :  [1, 2, 3, 'a', 'b']
Tuple values are :  (1, 2, 3, 'a', 'b')
Dictonary values are :  {'name': 'Rohit', 'age': 26}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

l1=[10,15,20,55,98]
sorted(l1)

[10, 15, 20, 55, 98]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.

a=['Laptop','Bike','Computer','Mobile']
a[2]

'Computer'

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1={'name':'Rohit',
       'age':26}

dict2={'country':'INDIA',
       'year':2026}

dict1.update(dict2)
dict1

{'name': 'Rohit', 'age': 26, 'country': 'INDIA', 'year': 2026}

In [ ]:
#30. Write a code to convert a list of strings into a set.

l1=['mango','banana','orange']
l1=set(l1)
l1

{'banana', 'mango', 'orange'}